*{
    box-sizing: border-box;
}
video{
    overflow: hidden;
    width:100%;
    height: 100%;
}
.ip{
    display: flex;
    top:35%;
    left:5%;
    position: absolute;
}
p{
    font-size: 20px;
    padding: 20px;
    margin:30px;
    padding-bottom: 50px;
    width:60%;
    height: 300px;
    background-color: antiquewhite;
    opacity: 0.6;
    border-radius: 5px;   
}
h1{
    position: absolute;
    top:50px;
    left:41%;
    font-size: 70px;
}
img{
    width:40%;
    height: 340px;
    padding:20px;
    margin:10px ;    
}